/* Cellphone version */

.server-error-layer {
    display: none;
    background-color: #63C8DD;
    padding: 10px;
    color: #915724;
}

.server-error-layer > p {
    margin: 0;
    font-size: 16px;
    color: #915724;
}

#server-error-message {
    display: block;
    font-size: 16px;
}

/* Tablet version */

@media only screen and (min-width: 700px) {

    .server-error-layer {
        padding: 15px;
    }

    .server-error-layer > p,
    #server-error-message {
        font-size: 19px;
    }
}