/* Cellphone version */

form.paging-layer {
    display: none;
    flex-flow: column;
    align-items: flex-start;
    margin: 10px auto 0 auto;
    width: -webkit-fit-content;   
    width: -moz-fit-content;
    width: fit-content;
}

form.paging-layer > p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

form.paging-layer > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: center;
    height: 35px;
}

form.paging-layer input {
    border: 0;
    border-radius: 0;
    background-color: #63C8DD;
    height: 35px;
    flex: 0 1 70px;
    max-width: 70px;
    margin: 0 10px 0 10px;
    text-align: center;
    padding: 0;
}

form.paging-layer button {
    background-color: #63C8DD;
    border-radius: 0;
    height: 35px;
    flex: 0 1 35px;
    min-width: 35px;
    padding: 0;
    justify-content: center;
}

form.paging-layer > div button svg {
    margin: 0 -3px;
}

form.paging-layer > div button:nth-child(1) svg,
form.paging-layer > div button:nth-child(2) svg {
    transform: rotate(-90deg);
}

form.paging-layer > div button:nth-child(4) svg,
form.paging-layer > div button:nth-child(5) svg {
    transform: rotate(90deg);
}

form.paging-layer > div button:nth-child(5) {
    border-radius: 0px 18px 18px 0px;
    flex: 0 1 50px;
    min-width: 50px;
    margin: 0 0 0 10px;
}

form.paging-layer > div button:nth-child(1) {
    border-radius: 18px 0px 0px 18px;
    flex: 0 1 50px;
    min-width: 50px;
    margin: 0 10px 0 0;
}

/* Tablet version */

@media only screen and (min-width: 700px) {

    form.paging-layer {
        margin: 20px auto 0 auto;
    }

    form.paging-layer > p {
        margin: 0 0 15px 0;
    }

    form.paging-layer > div {
        height: 45px;
    }
    
    form.paging-layer input {
        height: 45px;
        flex: 0 1 115px;
        max-width: 115px;
        margin: 0 15px 0 15px;
    }
    
    form.paging-layer button {
        height: 45px;
        flex: 0 1 57px;
        min-width: 57px;
    }

    form.paging-layer > div button:nth-child(5) {
        border-radius: 0px 23px 23px 0px;
        flex: 0 1 82px;
        min-width: 82px;
        margin: 0 0 0 15px;
    }
    
    form.paging-layer > div button:nth-child(1) {
        border-radius: 23px 0px 0px 23px;
        flex: 0 1 82px;
        min-width: 82px;
        margin: 0 15px 0 0;
    }
}