/* Cellphone version */

form.searcher-layer {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    height: 35px;
    border: 1px solid #0377BD;
    background-color: #FFFFFF;
    border-radius: 18px;
    max-width: 576px;
    margin: 15px 0 0 0;
}

form.searcher-layer > svg {
    height: 18px;
    width: 18px;
    margin: 0 0 0 10px;
}

form.searcher-layer > input {
    border: 0;
    border-radius: 0;
    background-color: unset;
    flex: 1;
    max-width: unset;
}

/* Tablet version */

@media only screen and (min-width: 700px) {

    form.searcher-layer {
        height: 45px;
        border-radius: 23px;
        margin: 20px 0 5px 0;
    }

    form.searcher-layer > svg {
        margin: 0 0 0 15px;
    }
}